<button lw-on:click="private()">Private</button>
<br>
<div lw>message</div>
<br>
<input type="email" placeholder="email" lw-model="email">
<br>
<input type="text" placeholder="name" lw-model="name">
<br>
<input type="text" placeholder="Display Name" lw-model="displayName">
<br>
<input type="text" placeholder="Verification Code" lw-model="vCode">
<br>
<button lw-on:click="startSignup()">Sign Up</button>
<button lw-on:click="finishSignup()">Finish Sign Up</button>
<button lw-on:click="startLoginWithCode()">Login with Code</button>
<button lw-on:click="finishLoginWithCode()">Finish Login with Code</button>
<br>
<button lw-on:click="registerPasskey()">Register Passkey</button>
<button lw-on:click="loginWithPasskey()">Login with Passkey</button>
<button lw-on:click="logout()">Logout</button>
<button lw-on:click="getUserCredentials()">Get User Credentials</button>